<h1>Sleeping Lily</h1>
<h2>v0.1</h2>

<form *ngIf="!isAuthorized && !authorization" [formGroup]="authForm" (ngSubmit)="logIn()">
    <label>
        Ник:
        <input formControlName="nick" type="text">
    </label>

    <label>
        OAuth (можно узнать <a href="https://twitchapps.com/tmi/" target="_blank" rel="noreferrer noopener">здесь</a>):
        <input formControlName="password" type="password">
    </label>

    <button type="submit">Авторизоваться</button>
</form>

<div *ngIf="authorization">Загрузка...</div>

<form *ngIf="isAuthorized" [formGroup]="mainForm" (ngSubmit)="join()">
    <label>
        Канал:
        <input formControlName="channel" type="text">
    </label>

    <div *ngIf="lastConnection">{{lastConnection}}</div>

    <button type="submit">Подключиться</button>

    <label>
        Громкость ({{mainFormValues.volume}}):
        <input formControlName="volume" type="range" min="0" max="100">
    </label>

    <label>
        Питч ({{mainFormValues.pitch}}):
        <input formControlName="pitch" type="range" min="0" max="100">
    </label>

    <label>
        Скорость ({{mainFormValues.rate}}):
        <input formControlName="rate" type="range" min="1" max="100">
    </label>

    <button type="button" (click)="setDefaultSettings()">Сброс настроек</button>
    <button type="button" (click)="skipMessage()">Пропустить сообщение</button>
    <button type="button" (click)="logOut()">Выйти</button>
</form>
